.section {
  scroll-margin-top: 56px;
}

.navbar-nav .active {
  font-weight: bold;
  color: #6a6a6a;
  transform: scale(1.1);
}

.nav-link:hover {
  border-bottom: 2px solid #6a6a6a;
  transform: scale(1.1);
}
.btn:hover {
  transform: scale(1.1);
}

.icon-hover-scale:hover {
  transform: scale(1.2);
}